@import '../../../StyleHelpers/Variables.scss';




.Wrap {
    padding: 20px;
    min-width: 300px;
    border-radius: 5px;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.57);

    @include breakpoint(md) {
        padding: 10px;
        min-width: 250px;
    }

    @include mediumScreen {
        min-width: 250px;
    }

    .Title {
        text-align: center;
        padding: 10px;

        h3 {
            color: $primary_color;

        }
    }

    .formWrap {

        form {
            width: 100%;

            .formInput {
                width: 100%;
                padding: 10px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;


                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    background-color: $base_color3;
                    padding: 15px 10px;
                    border-radius: 5px;
                    border-left: 4px solid $primary_color;
                }

                button {
                    width: 100%;
                    background-color: $primary_color;
                    color: $base_color;
                    padding: 10px;
                    font-size: 16px;
                    border: none;
                    border-radius: 25px;
                    cursor: pointer;
                }

                span{
                    color: red;
                    font-size: 12px;
                }

                p{
                    color: $primary_color;
                    cursor: pointer;
                    font-size: 14px;
                }

            }

            .formText {
                text-align: end;
                padding: 10px 0;

                .navigation {
                    text-decoration: none;
                }

                p {
                    font-size: 12px;
                    color: $primary_color;
                }

            }
        }
    }
}