@import '../../StyleHelpers/Variables.scss';


.page_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .main {
        width: 100%;
        margin-top: 10.5rem;
        display: flex;
        flex-direction: column;

        @include breakpoint(md) {
            margin-top: 9rem;
        }

        @include mediumScreen {
            margin-top: 10rem;
        }

        @include LargeScreen {
            margin-top: 160px;
        }

    }
}