@import '../../StyleHelpers/Variables.scss';

.Rating {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;

    @include breakpoint(md) {
      font-size: 14px;
    }

    @include mediumScreen {
       font-size: 16px;
    }
    @include LargeScreen {
        font-size: 16px;
    }

    .ratingIcon {
        color: goldenrod;
    }
}