@import '../../StyleHelpers/Variables.scss';

.productwrapper {
    padding: 3rem 0;
    background-color: #f8f8f8;

    .container {
        margin: 0 4rem;
        display: block;
        padding: 0 20px;

        @include breakpoint(md) {
            margin: 0 0;
            padding: 0 10px;
        }

        @include mediumScreen {
            margin: 0 1rem;
        }

        .heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2rem;
            padding: .5rem 0;
            border-bottom: 2px solid #ebebeb;
        }

        .cardWrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            place-items: center;
            place-content: center;
            gap: 10px;


            @include breakpoint(md) {
                grid-template-columns: 1fr 1fr;
                padding: 10px 0px;
                gap: 10px 10px;
            }

            @include mediumScreen {
                grid-template-columns: 1fr 1fr 1fr;
            }

            @include LargeScreen {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }
}